# ===================================================================
# General Python
# ===================================================================
# Virtual environment folder
/backend/venv/
venv/

# Caches and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# ===================================================================
# General Node.js / Next.js
# ===================================================================
# Dependency directories
/frontend/node_modules/

# Next.js build output and caches
/frontend/.next/
/frontend/out/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables (DO NOT commit secrets)
.env*.local

# =to=================================================================
# Project Specific
# ===================================================================
# Raw and processed data files. 
# WARNING: NEVER commit large datasets to Git.
/data/

# ===================================================================
# OS and Editor Specific
# ===================================================================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?